.classes-content {
	padding: 10px 0 10px 10px;
}
.classes-btn-wrap {
	padding: 10px;
}
.tab-menu-wrap {
	padding-top: 10px; 
}
.classes-item {
	overflow: hidden;
	margin-bottom: 10px;
	width: 244px;
	border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0,.2);
	background: #fff;
	z-index: 900;
}
.classes-btn-wrap button {
	height: 34px;
}
.classes-item.color-type .view {
	
}
.classes-item .view {
	margin-bottom: 10px;
	height: 200px;
}
.classes-info {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: dotum, "돋움";
}
.classes-info li {
	padding: 0 10px;
}
.classes-info li.divider {
	padding: 0;
	margin: 10px 0;
	border-bottom: 1px solid #e0e0e0;
}
.classes-info li.creator {
	padding: 0 10px 10px;
}

.tab-menu {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #245580;
	border-radius: 5px;
}
.tab-menu.row {
	margin: 0;
	padding: 0;
}
.tab-menu > li {
	float: left;
	margin-left: -1px;
/* 	border-left: 1px solid #245580; */
/* 	border-right: 1px solid #245580; */
}
.tab-menu > li:first-child {
	border-left: 0;
}
.tab-menu > li:last-child {
	border-right: 0;
}
.tab-menu > li > a {
	display: block;
	padding: 7px 15px;
	border-bottom: 1px solid transparent;
	font-weight: bold;
	text-decoration: none;	
}
.tab-menu > li > a:active {
	
}
.tab-menu > li.active {
	background: #245580;
}
.tab-menu > li.active a {
	color: #fff;
}

