html, body {
	height: 100%;
}
body {
	background: none;
}
html {
	background: url(../img/bg.jpg);
	background-size: auto;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-attachment: fixed;
    background-position: center center;

    @media (max-width: @iphone-screen) {
        background-attachment: scroll;
    }
}
.app-info {
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,.5);
}
.app-info h1,
.app-info h2,
.app-info p {
	margin: 0 0 15px;
}
#container {
	overflow: hidden;
}
.login-box,
.sign-up-box {
	margin: 0 auto;
	padding: 10px;
	max-width: 1280px;
}
/* login form css (s) */
.login-box,
.sign-up-box {
	margin-top: 100px;
}
.login-wrap,
.signup-wrap {
	left: 100%;
	padding: 0;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	border-radius: 10px;
}
.login-wrap form,
.signup-wrap form {
	padding: 25px;
}

.form-group input[type=text],
.form-group input[type=password],
.find-student button,
.find-school-btn,
#month {
	padding: 20px;
	height: 60px;
	border-radius: 60px;
	border: 1px solid #ccc;
}
.input-group-btn button:focus,
.input-group-btn button:focus:active {
	outline: none;
}
.form-group label {
	font-size: 20px;
	font-weight: bold;
	color: #7d7d7d;
}
.login-help p {
	margin: 0;
}
.login-btn,
.signup-btn {
	margin-top: 20px;
}
.login-btn button,
.signup-btn button {
	height: 80px;
	border-radius: 80px;
}
.login-btn button:focus,
.login-btn button:active:focus {
	outline: 0;
}
/* login form css (e) */

/* sign up css (s) */
.signup-wrap .title {
	margin: 0 0 20px;
}
.gender-select .radio-inline {
	margin-top: 0;
}

.find-student-content .table > tbody > tr > td {
	vertical-align: middle;
}
.find-student-content .table > tbody > tr:last-child > td {
	border-bottom: 1px solid #ddd;
}
#findStudentModal .table {
	margin: 10px 0;
}
.birthday-wrap input,
.birthday-wrap select {
	margin-bottom: 5px;
}

.school-wrap {
	position: relative;
}
.real-time-input {
	position: absolute;
	width: 100%;
}